<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<% if (@user.user_property) %>
<p>
  <b>Name:</b>
  <%= @user.user_property.name %>
</p>
<% end %>

<h1>Listing user_accounts</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Code</th>
    <th>Bonus</th>
    <th>Expired at</th>
    <th width="15%">Actions</th>
  </tr>

<% @user_accounts.each do |user_account| %>
  <tr>
    <td><%= user_account.code %></td>
    <td><%= user_account.bonus %></td>
    <td><%= user_account.expired_at %></td>
    <td class="btn-group">
     <%= link_to 'Show', user_account_url(user_account.user, user_account), :class => 'btn btn-small btn-info' %>
     <%= link_to 'Edit', edit_user_account_path(user_account.user, user_account), :class => 'btn btn-small btn-primary' %>
     <%= link_to 'Destroy', user_account_url(user_account.user, user_account), confirm: 'Are you sure?', method: :delete, :class => 'btn btn-small btn-danger' %>
    </td>
  </tr>
<% end %>
</table>
<br />
<div class="btn-group">
 <%= link_to 'Back', users_path, :class => 'btn btn-small' %>
 <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-small btn-primary' %>
 <%= link_to 'New Bonus', new_user_account_path(@user), :class => 'btn btn-small btn-primary' %>
</div>
