<h1>Listing groups</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th width="15%">Photo</th>
    <th>Name</th>
    <th>Description</th>
    <th width="15%">Actions</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= image_tag group.photo %></td>
    <td><%= group.name %></td>
    <td><%= group.description %></td>
    <td class="btn-group">
     <%= link_to 'Show', group, :class => 'btn btn-small btn-info  ' if can? :read, group %>
     <%= link_to 'Edit', edit_group_path(group), :class => 'btn btn-small btn-primary  ' if can? :update, group %>
     <%= link_to 'Destroy', group, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-small btn-danger  ' if can? :destroy, group %>
    </td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Group', new_group_path, :class => 'btn btn-small btn-primary' if can? :create, Group %>
